@using DatingApplication.Models;
@model RegisterViewModel
@{ Layout = "~/Views/Shared/_LoginLayout.cshtml"; }

    <div style="margin-top:70%">
        <div class="form-group" style="text-align:center">
            <span style="font-family: 'Dancing Script', cursive;text-align:center;font-size:60px;color:var(--main-color)">N</span>
        </div>
        <h5 class="login-label">Δημιουργία λογαριασμού</h5>
        @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @id = "register-form" }))
        {
            <div class="form-group">
                <i class="fas fa-envelope"></i>@Html.LabelFor(m => m.email, "Διεύθυνση email")
                @Html.TextBoxFor(m => m.email, new { @type = "email", @class = "form-control", @required = true })
            </div>
            <div class="form-group">
                <i class="fas fa-unlock-alt"></i>@Html.LabelFor(m => m.password, "Κωδικός πρόσβασης")
                @Html.TextBoxFor(m => m.password, new { @type = "password", @class = "form-control", @required = true })
            </div>
            <div class="form-group">
                <i class="fas fa-unlock-alt"></i>@Html.LabelFor(m => m.ConfirmPassword, "Επιβεβαίωση κωδικού πρόσβασης")
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control", @required = true })
            </div>
            if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-purple">Εγγραφή</button>
            </div>
            <medium style=" float: right;">Είσαι ήδη μέλος;&nbsp;<a href="~/Login">Σύνδεση</a></medium>
        }
    </div>

